.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
}

.card-container > * {
  margin: 1%;
}

.card {
  list-style-type: none;
}

// queries

@media (max-width: 800px) {
  .card-container {
    width: 100%;
  }

  .MuiCardContent-root {
    padding: unset !important;
  }

  .card-container > * {
    margin: 4% 0%;
  }

  .MuiTypography-body1 {
    font-size: 0.9rem !important;
    text-align: center !important;
    margin: 5% !important;
  }
}
